.author-details {
  text-align: right;
  h1, h4 {
    font-family: 'Alef';
    text-align: right;
    margin-bottom: 0;
    padding-top: 0;
  }

  img {
    border-right: 0;
    border-left: 1px solid #ccc;
    float: right;
    margin-right: 0;
    margin-left: 10px;
  }
}

body.author {
  h2 {
    font-family: 'Alef';
    text-align: right;
  }
}