/*! A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Museo-300';
  src: url('fonts/museo-300.eot');
  src: url('fonts/museo-300.eot?#iefix') format('embedded-opentype'),
      url('fonts/museo-300.woff') format('woff'),
      url('fonts/museo-300.ttf') format('truetype'),
      url('fonts/museo-300.svg#museo_300') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*! A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Museo-500';
  src: url('fonts/museo-500.eot');
  src: url('fonts/museo-500.eot?#iefix') format('embedded-opentype'),
      url('fonts/museo-500.woff') format('woff'),
      url('fonts/museo-500.ttf') format('truetype'),
      url('fonts/museo-500.svg#museo_500') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*! A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Museo-700';
  src: url('fonts/museo-700.eot');
  src: url('fonts/museo-700.eot?#iefix') format('embedded-opentype'),
      url('fonts/museo-700.woff') format('woff'),
      url('fonts/museo-700.ttf') format('truetype'),
      url('fonts/museo-700.svg#museo_700') format('svg');
  font-weight: normal;
  font-style: normal;
}

.museo-300 {
  font-family: 'Museo-300' !important;
}

.museo-500 {
  font-family: 'Museo-500' !important;
}

.museo-700 {
  font-family: 'Museo-700' !important;
}

// League Gothic regular webfont
@font-face {
  font-family: 'League Gothic';
  src: url('fonts/leaguegothic-regular.eot');
  src: url('fonts/leaguegothic-regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/leaguegothic-regular.woff') format('woff'),
      url('fonts/leaguegothic-regular.ttf') format('truetype'),
      url('fonts/leaguegothic-regular.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-league-gothic {
  font-family: 'League Gothic' !important;
}

// League Gothic condensed webfont
@font-face {
  font-family: 'League Gothic Condensed';
  src: url('fonts/leaguegothic-condensed.eot');
  src: url('fonts/leaguegothic-condensed.eot?#iefix') format('embedded-opentype'),
      url('fonts/leaguegothic-condensed.woff') format('woff'),
      url('fonts/leaguegothic-condensed.ttf') format('truetype'),
      url('fonts/leaguegothic-condensed.svg#league_gothic_condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-league-gothic-bold {
  font-family: 'League Gothic Condensed' !important;
}
