footer {
  background: #eaeaea url(images/footer/bg.jpg) top left repeat-x;
  min-height: 311px;
  margin-top: 20px;
  border-top: 1px dashed #bebebe;

  ul li {
    list-style-type: none;
    float: left;
    text-align: left;
    width: 200px;

    h3 {
      margin-bottom: 0;
      color: #74482f;
      font-family: 'Museo-300';
      font-weight: bold;
      margin-left: 0;
    }

    ul {
      padding-left: 15px;
    
      li {
        list-style-image: url(images/footer/list-arrow.png);
        float: none;
        margin-bottom: 5px;
        font-size: 14px;
        color: #7f7f7f;
      }
      
      &.social-links {
        width: 300px;
        padding-left: 0;
        margin-top: 10px;
        clear: both;
        
        li {
          list-style: none;
          float: left;
          display: inline;
          width: 95px;
        }
      }
       
      &.social-links-images li {
        width: 36px;
        height: 36px;
        margin-right: 20px;
        a {
          display: block;
          float: left;
          width: 36px;
          height: 36px;
          background: url(images/footer/linked-in.png) 0 0 no-repeat;
          
          &:hover {
            background-position: -36px 0;
          }

          &#social-links-image-facebook {
            background-image: url(images/footer/facebook.png);
          }

          &#social-links-image-twitter {
            background-image: url(images/footer/twitter.png);
          }
        }
      }
    }
  }

  .newsletter-wrapper {
    text-align: left;
    clear: both;
    min-height: 168px;

    img {
      float: left;
      margin-right: 60px;
      vertical-align: top;
    }

    .newsletter-bubble {
      background: white;
      border: 1px solid white;
      float: left;
      padding: 10px;
      height: 90px;
      width: 480px;
      position: relative;
      @include round-corners(6px);
      
      &:before {
        border-color: transparent white transparent transparent;
        border-style: solid;
        border-width: 20px 60px 10px 0;
        content: "";
        display: block;
        height: 0;
        left: -60px;
        top: 45px;
        position: absolute;
        width: 0;
      }
      
      .newsletter-text {
        font-size: 11px;
        float: left;
        width: 190px;
        margin-right: 11px;
        min-height: 85px;
        line-height: 1.5;
        strong {
          font-size: 130%;
          display: block;
        }
      }
      
      form {
        margin-top: 7px;
        
        input[type="text"] {
          display: inline;
          margin: 4px 0;
          padding: 4px;
          background: #e5e5e5;
          border: 1px solid #bebebe;  
          @include round-corners(4px);
        }

        input[type="submit"] {
          display: inline;
          float: right;
          height: 75px;
          width: 85px;
          font-weight: bold;
          font-size: 18px;
          
          color: #974806;
          border: 1px solid orange;
          @include round-corners(4px);
          @include gradient-background(#fcf33a, #e0a100);

          &:hover {
            background: #e0a100;
          }
        }
      }
    }
  }

  .copyright-wrapper {
    position: relative;
    top: -20px;
    height: 0;
    color: white;
  }
}
