#homepage-wrapper {
  text-align: right;

  h1 {
    font-family: 'Alef';
    font-weight: bold;
    font-size: 40px;
  }
  
  h2, h3 {
    font-family: 'Alef';
  }
  
  .tabs {
    .tabs-header {
      .current-credits-wrapper {
        float: left;
        margin-right: 0;
        margin-left: 20px;
      }

      p {
        margin-left: 0;
        margin-right: 10px;        
      }    
    }
  }
    
  #services-wrapper {
    .services-column {
      float: right;
      border-right-color: #d7d7d7;
      border-left-color: white;

      &:first-child {
        border-left-width: 1px;
        border-right: 0;
      }

      &:last-child {
        margin-right: inherit;
        margin-left: 0;
        border-right: 1px solid #D7D7D7;
        border-left: 0;
      }

      h4 {
        padding-left: 0;
        padding-right: 15px;
        font-family: 'Alef';
        font-weight: bold;
      }
      
      ul {
        li.service-item {
          .title {
            &:before {
              float: right;
            }
          }
          
          a {
            padding: 7px 15px;
            &.order-now {
              margin-right: 0;
              margin-left: 4px;
            }
            
            &.more-info {
              margin-left: 0;
              margin-right: 4px;
            }
          }
          
          &.service-item-new {
            .title:after {
              background-position: 0 -15px;
              right: auto;
              left: 1px;
            }
          }
        }
      }
    }
  }
  
  #recent-posts {
    #posts-wrapper {
      height: 321px;
      .to-all-posts {
        clear: right;
        float: left;
      }
    }
    
    .articles-column {
      float: right;
    }
    
    article {
      float: right;
      clear: none;
      width: 50%;

      .attachment-post-thumbnail {
        float: right;
        margin-right: 0;
        margin-left: 10px;
      }

      h2 {
        padding-left: inherit;
        padding-right: 0;
        text-align: right;
      }

      .post-date {
        left: auto;
        right: 108px;
      }
    }
  }

  #interested {
    font-family: 'Alef';
    font-size: 20px;
    padding-bottom: 14px;
    
    .to-get-started {
      float: left;
      margin-right: 0;
      margin-left: 9px;
      
      &:after {
        background-position: -18px 0;
        right: auto;
        left: -22px;
      }
    }
  }
}

@import 'css/testimonials-rtl';
