#homepage-wrapper #bee-wrapper .bee-text-wrapper {
  p {
    font-size: 16px;
    
    &#floor-text-middle {
      margin-top: 0;
      //padding-left: 10px;
    }
    
    &#floor-text-bottom {
      margin-top: 2px;
    }
  }  
}


