* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background: white left top;

  font-family: "Lucida Grande", Verdana, "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
  font-size: 75%;
  line-height: 1.6;
  height: 440px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5, h6 {
  font-size: 1.1em; font-weight: 700;
}

h6 {
  margin-bottom: 0;
}

p {
  margin: 0 0 1.5em;
}

blockquote {
  background: #ffffe0;
  color: #666;
  padding: 6px;
  border: 1px solid #e6db55;
  @include round-corners(5px);
}

em {
  font-style: italic;
  background: $code-background;
}

strong {
  font-weight: 700;
}

pre, code {
  font-family: "Courier New", Courier, Monospace;
  line-height: 1.5;
  background: $code-background
}

pre {
  border-top: 1px solid #ccc;
  white-space: pre;
  overflow: auto;
  margin: 0 15px;
  padding: 10px 15px;
  max-height: 300px;
}

img {
  border: none;
  vertical-align: top;
}

a {
  color: $light-blue;
  outline: none;
  text-decoration: none;
  
  &:focus, &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  margin: 0 0 1.5em 0;
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

input, button, select, textarea {
  font-family: "Lucida Grande", Verdana, "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
}

fieldset {
  border: 1px solid #E6E6D2;
  padding: 15px;
}

dl {
  margin-bottom: 1.5em;
  dt {
    font-weight: 700;
  }
}

table {
  border-collapse: collapse;
}

th {
  font-weight: bold;
  text-align: left;
  background: #EEEEE0;
}

th, td {
  padding: 5px 10px;
  border: 1px solid #E6E6D2;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clearfix { height: 1%; }

@font-face {
  font-family: SegueUILight;
  src: url("segoeuil.eot");
  src: local("Segoe UI Light"), url(segoeuil.ttf) format("truetype");
}

.hidden {
  display: none;
}
