#leftcolumn {
  float: right;
  overflow: hidden;
}

#rightcolumn {
  margin-right: 0;
  .post {
    float: right;
  }
}

.alignleft {
  float: right;
}

.alignright {
  float: left;
}

body.body-no-sidebar-page {
  #rightcolumn {
    width: 960px;
    margin-left: auto;
    margin-right: 0;
  }
}
