#leftcolumn {
  float: right;
  overflow: hidden;
}

#rightcolumn {
  margin-left: 0;
  float: right;
}

.alignleft {
  float: right;
}

.alignright {
  float: left;
}

body.body-no-sidebar-page {
  #rightcolumn {
    width: 960px;
    margin-left: auto;
    margin-right: 0;
  }
}

body.iframe {
  .wrapper {
    #rightcolumn {
      float: none;
      width: $iframe-width;
    }
  }
}

#stcpDiv {
  display: none;
}