body.post-single {
  #rightcolumn {
    float: right;
  }

  #leftcolumn {
    float: left;
    border-right: 1px solid #eee;
    padding-right: 20px;
  }

  li.widget.widget {
    h2 {
      margin-left: 0;    
    }

    ul {
      margin-left: 0;

      li {
        width: auto;
      }
    }
  }
}

.post {
  text-align: right;

  h1.title {
    font-family: 'Alef';
    font-weight: bold;
  }
  
  h1, h2, h3 {
    font-family: 'Alef';
    font-weight: normal;
  }

  ul.list-with-columns {

    & > li {
      float: right;
      margin-right: 0;
      margin-left: 10px;

      ul {
        padding-left: 0;
        padding-right: 18px;
      }
    }
  }
}

.post-credentials {
  text-align: right;
}

.postdata {
  .social-links {
    li {
      float: right;
    }
  }
}

#related h3, h3#comments, #respond h3 {
  background-position: right 8px;
  padding: 5px 38px 0 15px;
}

/* = Comment Form */
#respond {
  label {
    margin-left: 0;
    margin-right: .5em;
  }
}

.cancel-comment-reply {
  float: left;
}

img.avatar {
  float: left;
}