#leftcolumn.page-services .post {
  -webkit-border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  border-top-left-radius: 8px;

  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.page-services {
  &#rightcolumn {
    width: 215px;
    float: right;
    margin-left: inherit;
    margin-right: 0;

    ul#sidebar {
      float: left;
    }
  }

  .service-header-tabs {
    text-align: right;

    .service-header-tab {
      float: right;
      border-left-width: 1px;
      border-right-width: 0;

      &:first-child {
        -webkit-border-top-left-radius: inherit;
        -moz-border-top-left-radius: inherit;
        -o-border-top-left-radius: inherit;
        border-top-left-radius: inherit;
        border-left-width: inherit;

        -webkit-border-top-right-radius: 4px;
        -moz-border-top-right-radius: 4px;
        -o-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        border-right-width: 1px;
      }
                  
      &:last-child {
        -webkit-border-top-right-radius: inherit;
        -moz-border-top-right-radius: inherit;
        -o-border-top-right-radius: inherit;
        border-top-right-radius: inherit;
        border-right-width: 1px;

        -webkit-border-top-left-radius: 4px;
        -moz-border-top-left-radius: 4px;
        -o-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        border-left-width: 1px;
      }
    }
  }
  
  .more-link-in-header {
    float: left;

    a:before {
      content: "\25C2 ";
      margin-right: inherit;
      margin-left: 7px;
    }
  }

  .post {  
    .social-links {
      float: left;
      li {
        float: right;
        margin-left: inherit;
        margin-right: 5px;
      }
    }
  }

  .post-header {
    padding-left: inherit;
    padding-right: 15px;

    .post-header-info {
      float: right;
      .value {
        float: right;
      }
    }
    
    .order-now {
      margin-right: inherit;
      margin-left: 42px;
    }
  }

  h1.title {
    font-family: 'Alef';
    font-weight: bold;
    img {
      margin-left: inherit;
      margin-right: 10px;
    }
  }

  .service-intro-image {
    float: left;
    margin-left: inherit;
    margin-right: 15px;
  }

  .service-column {
    float: right;
    padding: 0 0 0 10px;

    h2 {
      padding: 15px 46px 8px 10px;
      
      &:after {
        left: auto;
        right: 99px;
      }
    }

    li {
      &:before {
        float: right;
        margin-right: inherit;
        margin-left: 5px;
      }
    }

    ul {
      padding-left: 10px;
      padding-right: 0;
    }

    ol {
      padding-left: inherit;
      padding-right: 37px;
      
      li {
        &:before {
          left: auto;
          right: -38px;
          background: url(images/ol-li-background.png) no-repeat top right;
        }
        
        &:after {
          background: url(images/service-down-arrow.png) no-repeat top right;
          left: auto;
          right: 60px;
        }    
      }
    }

    select#service-example-group-select {
      padding: 2px 4px 2px 0;
      option {
        padding-left: inherit;
        padding-right: 4px;
      }
    }

    ul.service-example-group {
      padding-left: 0;

      li {
        float: right;
      }
    }
  }
  
  .order-now {
    float: left;
  }

  .related-services {
    h3 {
      font-family: 'Alef';
    }
    
    ul {
      li {
        float: right;
        margin-right: inherit;
        margin-left: 10px;

        img {
          margin-right: inherit;
          margin-left: 10px;
        }
      }       
    }
  }
}

#service-features ul li {
  clear: right;
}
