#homepage-wrapper .testimonials-wrapper {
  width: $regular-width;
  position: relative;
}

.testimonials-wrapper {

  .testimonials-buttons-wrapper {
    background: #d6d6d6;
    width: 47px;
    height: 205px;
    border: 1px solid #cecece;
    display: block;
    float: left;
    margin-right: 7px;
    cursor: pointer;
    @include round-corners(4px);
    
    &:hover {
      background: black;
    }
    
    img {
      margin-top: 87px;
    }  
  }

  .testimonials-next-wrapper {
    margin-right: 0;
    margin-left: 7px;
  }

  .testimonials-strip {
    height: 207px;
    width: 848px;
    float: left;
    overflow: hidden;
    font-family: Arial;
  }

  ul {
    min-width: 2320px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    left: 0;
  }

  .testimonial-wrapper {
    float: left;
    width: 109px;
    margin-right: 7px;
    
    .testimonial-portrait-image {
      width: 109px;
      height: 144px;
      margin-bottom: 3px;
    	background-image: url("#{$assets-url}/wp/testimonials-gray.png");
    	background-repeat: no-repeat;
    	display: block;
    	&:hover {
      	background-image: url("#{$assets-url}/wp/testimonials.png");
    	}
    }

    .testimonial-title {
      background: #021d23;
      color: white;
      height: 50px;
      padding: 3px 0 5px 5px;
      
      .testimonial-name {
        font-weight: bold;
        display: block;
        font-size: 11px;
        font-family: Arial;
      }
      
      .testimonial-company {
        font-size: 10px;
      }
    }
  }

  .testimonials-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    min-height: 200px;
    width: 650px;
    z-index: 100;
    padding: 0;
    border: 1px solid #7e7e7e;
    font-family: Arial;
    @include shadow(0 5px 5px #7e7e7e);
    
    &:before, &:after {
      border-color: #7e7e7e transparent transparent;
      border-style: solid;
      border-width: 26px 10px 0;
      content: "";
      display: block;
      height: 0;
      left: 43px;
      position: absolute;
      bottom: -26px;
      width: 0;
    }

    &:after {
      bottom: -25px;
      border-color: white transparent transparent;
    }
    
    &.tilted-left {
      &:before, &:after {
        left: auto;
        right: 43px;
      }
    }
    
    .testimonial-title {
      background: #a3a3a3;
      color: white;
      padding: 5px 10px;
      margin-bottom: 5px;

      .testimonial-name {
        font-size: 17px;
        display: inline;
        font-weight: bold;
      }
      
      .testimonial-position {
        font-size: 14px;
        display: block;
        color: #021d23;
      }
    }

    .testimonial-text {
      padding: 0 10px;
      font-family: Arial, Cambria, Georgia, "Times New Roman", Times, serif;
      font-size: 12px;
      font-weight: normal;
    }

    .testimonial-company-logo {
      text-align: center;
      margin: 15px 0 5px;
    }
  }
}
